# 目标检测评价指标
## 阈值分布
![](./cls_thresh.png)

## 召回率和精准率
![](./rec_fpr.png)

## AP
![](./mAp.png)


## tp fp
![](./gt_tp_fp.png)